<div class="containerNote">
    <div class="loader"></div>
    <h3 class="note-id" style="display: none;" >{{note._id}}</h3>
    <h1 class="titleNote">Note..</h1>
    <div class="cardNote">
        <div class="page">
            <div class="margin"></div>
            <h2 class="note-title" contenteditable="false">{{note.title}}</h2>
            <p class="note-description" contenteditable="false">{{note.description}}</p>
            <div class="containerButtonsEdit">
                <label class="save-button">
                    <input type="checkbox" checked="checked">
                    <div class="checkmark"></div>
                </label>
                <button class="cancel-button">
                    <span class="X"></span>
                    <span class="Y"></span>
                    <div class="close">Close</div>
                </button>
            </div>
            
        </div>
        <div class="buttonsContainer">
            <button class="delete-button">
                <svg class="delete-svgIcon" viewBox="0 0 448 512">
                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                </svg>
            </button>
            <button class="edit-button">
                <svg class="edit-svgIcon" viewBox="0 0 512 512">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                </svg>
            </button>
        </div>
        <div class="notifications-container">
            <div class="alert">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 alert-svg">
                        <path clip-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" fill-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="alert-prompt-wrap">
                        <p class="text-sm text-yellow-700">
                        If you delete your note, you will not be able to recover it...
                        <a class="alert-prompt-link">Are you sure?</a>
                        </p>
                    </div>
                </div>
            </div>
            <button class="bin">🗑</button>
            <div class="div">
                <small>
                    <i></i>
                </small>
            </div>
        </div>
    </div>
    <div class="containerButtonHome">
        <div class="background-button">
            <button class="buttonReturnHome">
                H O M E
            </button>
        </div>
    </div>
</div>
<script src="/js/note.js"></script>